<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/passwordResetStyle.css" />
    <title>Password  Reset</title>
</head>
<body>
    <div class="container">
    <form method="post">
        <input placeholder="Enter new password" type="password" name="password" id="password" required class="input">
        <br><br>
        <input class="btn" type="submit" value="Reset Password">
    </form>
</div>
</body>
</html>