@import url(https://fonts.googleapis.com/css?family=Montserrat);

* {
  font-family: montserrat, arial, verdana;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
    -webkit-focus-ring-color: rgba(255, 255, 255, 0) ; 
    outline: none;
}

:root {
  font-size: 14px;
}

.topnav {
  position: absolute;
  margin: 20px;
  width: auto;
}
.navbar {
  overflow: hidden;
  justify-content: left;
}

.navbar a{
  float: left;
  color: #000;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  font-size: 16px;
}

header {
  background-color: #ffeadb;
  align-items: center;
  display: flex;
  font-size: 1rem;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  position: relative;
  text-align: center;
  transform-style: preserve-3d;
  perspective: 100px;
  &:before {
    animation: fade-slide-down 2s .5s cubic-bezier(0, 0.5, 0, 1) forwards;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .8)), url("../images/dementia-about-image.jpg") no-repeat bottom;
    background-size: cover;
    content: "";
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
  &:after {
    animation: rotate-up .5s .5s cubic-bezier(0, 0.5, 0, 1) forwards;
    background: #ffeadb; 
    content: "";
    height: 15rem;
    left: -5%;
    position: absolute;
    right: -5%;
    top: 95%;
    transform-origin: 0 0;
    transform: rotateZ(-5deg);
    z-index: 0;
  }
  @media (max-width: 450px){
    height: 80vh;
    &:after{
      height: 15rem ;
    }
  }
  img {
    position: relative;
    overflow: hidden;
    height: 10vh;
  }
  h1,
  h3 {
    color: #fff;
    margin: .5em 0;
    letter-spacing: .1em;
  }
  h1 {
    font-size: 4rem;
  }
  h3 {
    text-transform: uppercase;
    margin: 1em 0 2em 0;
  }
  h3.header-info {
    text-transform: none;
    margin-bottom: 5rem;
  }
}

.content {
  background-color: #ffeadb;
  section {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 0 auto;
    max-width: 80vw;
    text-shadow:0 1px 0 darken(white,8%);
    font-size: 1.2rem;
    h1 {
      align-self: flex-start;
      font-size: 3rem;
    }
    p {
      line-height: 1.2em;
      margin: .35em 0;
    }
    button{
      font-size: .9em;
    }
  }
  section.tutorial{
    align-items: flex-start;
  }
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

a {
  color: MEDIUMSLATEBLUE;
  text-shadow: 0 1px 0 lighten(MEDIUMSLATEBLUE, 60%);
  text-decoration: none;
  border-bottom: 1px solid lighten(MEDIUMSLATEBLUE, 15%);
  display: inline-block;
  position: relative;
  padding: 0 .2em;
  transition: all 200ms;
  z-index: 2;
  &:before {
    content: "";
    z-index: -1;
    width: 100%;
    height: 0%;
    background: rgba(darken(MEDIUMSLATEBLUE, 20%), .16);
    bottom: 0;
    left: 0;
    position: absolute;
    transition: height 200ms;
  }
  &:hover {
    border-color: transparent;
    text-shadow: none;
    &:before {
      height: 100%;
    }
  }
}

button {
  background: none;
  margin: 10px;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  position: relative;
  overflow: hidden;
  transition: .3s;
  &:after {
    position: absolute;
    transition: .3s;
    content: '';
    width: 0;
    right: 0;
    left: auto;
    bottom: 0;
    height: 3px;
    background: black
  }
  &:hover {
    cursor: pointer;
    &:after {
      width: 100%;
      left: 0;
    }
  }
}

.animate-pop-in {
  animation: pop-in .6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  opacity: 0;
}

.header-logo {
  animation-delay: .5s;
}

.header-title {
  animation-delay: .7s;
}

.header-subtitle {
  animation-delay: .9s;
}

.header-info {
  animation-delay: 1.3s;
}

@keyframes fade-slide-down {
  0% {
    opacity: 0;
    transform: translateY(-5rem);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: translateY(-5rem) scale(.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes rotate-up {
  0% {
    transform: rotateZ(10deg);
  }
  100% {
    transform: rotateZ(-5deg);
  }
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html { font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  position: relative;
}

.card-front__heading {
  font-size: 1.5rem;
  margin-top: .25rem;
}

.inside-page__heading { 
  padding-bottom: 1rem; 
  width: 100%;
}

.inside-page__heading,
.card-front__text-view {
  font-size: 1.3rem;
  font-weight: 800;
  margin-top: .2rem;
}

.inside-page__heading--city,
.card-front__text-view--city { color: #ff62b2; }

.inside-page__heading--ski,
.card-front__text-view--ski { color: #2aaac1; }

.inside-page__heading--beach,
.card-front__text-view--beach { color: #fa7f67; }

.inside-page__heading--camping,
.card-front__text-view--camping { color: #00b97c; }

.card-front__tp { color: #fafbfa; }

.card-front__text-price {
  font-size: 1.2rem;
  margin-top: -.2rem;
}

.inside-page__text {
  color: #333;
}
.card-front__icon {
  fill: #fafbfa;
  font-size: 3vw;
  height: 3.25rem;
  margin-top: -.5rem;
  width: 3.25rem;
}

.inside-page__btn {
  background-color: transparent;
  border: 3px solid;
  border-radius: .5rem;
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 2rem;
  overflow: hidden;
  padding: .7rem .75rem;
  position: relative;
  text-decoration: none;
  transition: all .3s ease;
  width: 90%;
  z-index: 10;
}

.inside-page__btn::before { 
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: scaleY(0);
  transition: all .3s ease;
  width: 100%;
  z-index: -1;
}

.inside-page__btn--city { 
  border-color: #ff40a1;
  color: #ff40a1;
}

.inside-page__btn--city::before { 
  background-color: #ff40a1;
}

.inside-page__btn--ski { 
  border-color: #279eb2;
  color: #279eb2;
}

.inside-page__btn--ski::before { 
  background-color: #279eb2;
}

.inside-page__btn--beach { 
  border-color: #fa7f67;
  color: #fa7f67;
}

.inside-page__btn--beach::before { 
  background-color: #fa7f67;
}

.inside-page__btn--camping { 
  border-color: #00b97d;
  color: #00b97d;
}

.inside-page__btn--camping::before { 
  background-color: #00b97d;
}

.inside-page__btn:hover { 
  color: #fafbfa;
}

.inside-page__btn:hover::before { 
  transform: scaleY(1);
}

.main {
  background-color: #ffeadb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
  width: 100%;
}

.card-area {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-evenly;
  padding: 1rem;
}

.card-section {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.card {
  background-color: rgba(0,0,0, .05);
  box-shadow: -.1rem 1.7rem 6.6rem -3.2rem rgba(0,0,0,0.5);
  height: 15rem;
  position: relative;
  transition: all 1s ease;
  width: 15rem;
}

.flip-card {
  height: 15rem;
  perspective: 100rem;
  position: absolute;
  right: 0;
  transition: all 1s ease;
  visibility: hidden;
  width: 15rem;
  z-index: 100;
}

.flip-card > * {
  visibility: visible;
}

.flip-card__container {
  height: 100%;
  position: absolute;
  right: 0;
  transform-origin: left;
  transform-style: preserve-3d;
  transition: all 1s ease;
  width: 100%;
}

.card-front,
.card-back {
  backface-visibility: hidden;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.card-front {
  background-color: #fafbfa;
  height: 15rem;
  width: 15rem;
}

.card-front__tp {
  align-items: center;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 57% 90%, 50% 100%, 43% 90%, 0 90%);
  display: flex;
  flex-direction: column;
  height: 12rem;
  justify-content: center;
  padding: .75rem;
}

.card-front__tp--city {
  background: linear-gradient(
    to bottom,
    #ff73b9,
    #ff40a1
  );
}

.card-front__tp--ski {
  background: linear-gradient(
    to bottom,
    #47c2d7,
    #279eb2
  );
}

.card-front__tp--beach {
  background: linear-gradient(
    to bottom,
    #fb9b88,
    #f86647
  );
}

.card-front__tp--camping {
  background: linear-gradient(
    to bottom,
    #00db93,
    #00b97d
  );
}

.card-front__bt {
  align-items: center;
  display: flex;
  justify-content: center;
}

.card-back {
  background-color: #fafbfa;
  transform: rotateY(180deg);
}

.video__container {
  clip-path: polygon(0% 0%, 100% 0%, 90% 50%, 100% 100%, 0% 100%);
  height: auto;
  min-height: 100%;
  object-fit: cover;
  width: 100%;
}

.inside-page {
  background-color: #fafbfa;
  box-shadow: inset 20rem 0px 5rem -2.5rem rgba(0,0,0,0.25);
  height: 100%;
  padding: 1rem;
  position: absolute;
  right: 0;
  transition: all 1s ease;
  width: 15rem;
  z-index: 1;
}

.inside-page__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center; 
  width: 100%;
}

.card:hover {
  box-shadow:
  -.1rem 1.7rem 6.6rem -3.2rem rgba(0,0,0,0.75);
  width: 30rem;
}

.card:hover .flip-card__container {
  transform: rotateY(-180deg);
}

.card:hover .inside-page {
  box-shadow: inset 1rem 0px 5rem -2.5rem rgba(0,0,0,0.1);
}