@import url(https://fonts.googleapis.com/css?family=Montserrat);

:root {
	--white: #e9e9e9;
	--gray: #333;
	--pink: #ff9a76;
	--lightpink: #FECDA6;
	--button-radius: 0.7rem;
	--max-width: 758px;
	--max-height: 210px;
	font-size: 16px;
}

body {
	font-family: montserrat, arial, verdana;
	background-color: #ffeadb;
	height: 100%;
}

.container {
	position: absolute;
  	top: 55%;
  	left: 50%;
  	transform: translate(-50%, -50%);
	align-items: center;
	background-color: var(--white);
	border-radius: var(--button-radius);
	box-shadow: 0 0.9rem 1.7rem rgba(0, 0, 0, 0.25),
		0 0.7rem 0.7rem rgba(0, 0, 0, 0.22);
	height: var(--max-height);
	max-width: var(--max-width);
	width: 100%;
	text-align: center;
}

.btn {
	background-color: var(--pink);
	background-image: linear-gradient(90deg, var(--pink) 0%, var(--lightpink) 74%);
	border-radius: 20px;
	border: 1px solid var(--pink);
	color: var(--white);
	cursor: pointer;
	font-size: 0.8rem;
	font-weight: bold;
	letter-spacing: 0.1rem;
	padding: 0.9rem 4rem;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.btn:active {
	transform: scale(0.95);
}

.btn:focus {
	outline: none;
}

.input {
	background-color: #fff;
	border: none;
	border-radius: 20px;
	padding: 0.9rem 0.9rem;
	margin: 50px 0 0.5rem 0;
	width: 60%;
}
